*{
  box-sizing: border-box;
  
}

body{
  margin: 0;
  padding: 0;
  background-color: #1b1938;
}

.container{
  min-height: 100vh;
}

/* 
### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400
 */